@charset "utf-8";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:100%;
    height:100vh;
    overflow:hidden;
    font-family:'Noto Sans KR', sans-serif;
}

/* 전체 배경 */
.login-wrap{
    width:100%;
    height:100vh;

    background:url("../img/login.png") no-repeat center center;
    background-size:cover;

    display:flex;
    justify-content:center;
    align-items:center;
}

/* 로그인 영역 */
.login-box{
    position:relative;

    width:380px;
left:-60px;
    display:flex;
    flex-direction:column;
    align-items:center;

    margin-top:120px; /* 위치 조절 */
}

/* 입력창 */
.input-wrap{
    position:relative;
    width:250px;
    margin-bottom:15px;
}

.input-wrap input{
    width:100%;
    height:40px;

    border:none;
    outline:none;

    border-radius:50px;

    background:#fff;

    padding:0 55px 0 25px;

    font-size:13px;

    box-shadow:
    0 5px 20px rgba(0,0,0,.15);
}

.input-wrap i{
    position:absolute;
    right:22px;
    top:50%;
    transform:translateY(-50%);

    color:#999;
    font-size:20px;
}

/* 로그인 버튼 */
.login-btn{
    width:120px;
    height:90px;

    border:none;
    cursor:pointer;

    color:#fff;
    font-size:18px;
    font-weight:700;

    border-radius:25px;

    background:linear-gradient(
    180deg,
    #2ea7ff,
    #2f2bff
    );

    box-shadow:
    0 10px 30px rgba(0,0,0,.25);

    position:absolute;
    right:-70px;
    top:0;

    transition:.3s;
}

.login-btn:hover{
    transform:translateY(-3px);
}

/* 링크 */
.login-links{
    
    margin-top:10px;
margin-left: 110px;
    display:flex;
    gap:18px;

    color:#fff;
    font-size:14px;
}

.login-links a{
    color:#fff;
    text-decoration:none;
}

.login-links a:hover{
    text-decoration:underline;
}

.login-links span{
    opacity:.7;
}